<header>
  <nav>
    <h1> Devotion to <%= @name %> </h1>
  </nav>
</header>

<section class="container">
  <article class="main-content">
    <% @enthusiasms.each do |e| %>
      <ul>
        <li> Enthusiasm Link: <%= link_to e.link, e.link %> </li>
        <li> Number of <%=@name%>s: <%= e.name_count(@name) %> </li>
        <li> Usage of Known Enthusasm Words: <%= e.usage_of_known_enthusiastic_words %> </li>
      </ul>
      <br />
    <% end %>
  </article>
</section>

<footer>
  <p><%= link_to 'Redo', '/' %></p>
</footer>
